@use "mixins" as *;

.training__link {
  @include interSemi;
  font-size: 18px;
  line-height: 28px;
  color: #151515;
  margin-right: 27px;
}

.training__link:link {
  text-decoration: none;
}

.training__link:visited {
  text-decoration: none;
}

.training__link:hover {
  text-decoration: none;
}

.training__link:active {
  text-decoration: none;
}

@media screen and (max-width: 1439px) {
  .training__link {
    font-weight: 600;
    font-size: 14px;
  }
}
