@use "mixins" as *;

.bikes__title-and-selector {
  @include flexRow;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 69px;
  grid-column: 1/4;
  margin: 0 8.3% 5%;
}

@media screen and (max-width: 1439px) {
  .bikes__title-and-selector {
    margin-bottom: 42px;
  }
}

@media screen and (max-width: 1090px) {
  .bikes__title-and-selector {
    grid-column: 1/3;
  }
}

@media screen and (max-width: 940px) {
  .bikes__title-and-selector {
    grid-column: 1;
    margin: 9.5% 4.7% 11.5%;
  }
}
