@use "mixins";

.highway__images-container-left {
  position: relative;
  margin-bottom: 15px;
  @include testWithBorder;
  height: fit-content;
}

@media screen and (max-width: 710px) {
  .highway__images-container-left {
    width: 100%;
    margin-bottom: 10px;
  }
}
