.highway__terrain-type {
  transform: scale(1.5);
  margin-right: 17px;
}

@media screen and (max-width: 1439px) {
  .highway__terrain-type {
    transform: scale(1);
    margin-right: 14px;
    margin-top: 5px;
  }
}
