@use "mixins" as *;

.toggle-mobile__container {
  @include flexRow;
  align-items: center;
  border: 1px solid #000;
}

@media screen and (max-width: 637px) {
  .toggle-mobile__container {
    justify-content: center;
  }
}
