@use "mixins" as *;

.training__title {
  @include sectionTitle;
  margin-top: 2px;
  margin-bottom: 10%;
}

@media screen and (max-width: 710px) {
  .training__title {
    @include mobileSectionTitle;
    margin-top: 13%;
    margin-bottom: 40px;
  }
}
