@use "mixins" as *;

.highway {
  @include gridSection;
  grid-template-columns: minmax(284px, 1340px);
  padding: 4% 0 8% 8.3%;
  justify-content: space-between;
  column-gap: 2%;
  margin-bottom: 60px;
  position: relative;
}

@media screen and (max-width: 710px) {
  .highway {
    grid-template-columns: minmax(284px, 810px);
    padding: 14% 4.3%;
    column-gap: 0;
    margin-bottom: 0;
  }
}
