.primary__bike-picture-container {
  position: absolute;
  left: -200px;
  bottom: 7%;
  height: 400px;
  background-color: transparent !important;
  border: 1px solid #000;
}

@media screen and (max-width: 1254px) {
  .primary__bike-picture-container {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    left: -50px;
    top: 251px;
  }
}

@media screen and (max-width: 1023px) {
  .primary__bike-picture-container {
    width: 70%;
    left: -20px;
    top: 111px;
  }
}

@media screen and (max-width: 925px) {
  .primary__bike-picture-container {
    height: 350px;
  }
}

@media screen and (max-width: 710px) {
  .primary__bike-picture-container {
    top: 10%;
    height: 80%;
    left: -10px;
  }
}

@media screen and (max-width: 320px) {
  .primary__bike-picture-container {
    width: 235px;
    left: -30px;
  }
}
