@import "mixins";

.primary {
  max-width: 1440px;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: minmax(320px, 630px) minmax(284px, 810px);
  margin: 0 auto;
  padding-left: 8.3%;
  border: 1px solid red;
}

@media screen and (max-width: 1023px) {
  .primary {
  }
}
