@import "mixins";

.primary {
  max-width: 1440px;
  min-width: 320px;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: minmax(320px, 630px) minmax(284px, 810px);
  margin: 0 auto;
  padding-left: 8.3%;
}

@media screen and (max-width: 710px) {
  .primary {
    grid-template-columns: minmax(284px, 810px);
    padding-left: 4.3%;
    padding-right: 4.3%;
  }
}
