@use "mixins" as *;

.quote__text {
  @include interSemi;

  font-size: 34px;
  line-height: 44px;
  letter-spacing: -0.5px;
  color: #151515;
  max-width: 470px;
  margin: 0;
}

@media screen and (max-width: 1023px) {
  .quote__text {
    font-size: 23px;
    line-height: 29px;
    letter-spacing: -0.5px;
    color: #151515;
    max-width: 284px;
    margin-bottom: 40px;
  }
}
