@use "mixins" as *;

.primary__text-container {
  @include flexColumn;
  padding-top: 80px;
  justify-content: start;
}

@media screen and (max-width: 620px) {
  .primary__text-container {
    padding-top: 38px;
  }
}
