@use "mixins" as *;

.primary__text {
  @include sectionText;
  @include mobileSectionText;
  max-width: 460px;
  margin-bottom: 50px;
}

@media screen and (max-width: 710px) {
  .primary__text {
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 320px) {
  .primary__text {
    margin-bottom: 40px;
  }
} ;
