@use "mixins" as *;

.bikes__name {
  @include interSemi;
  font-size: 18px;
  line-height: 22px;
  color: #151515;
  margin: 19px 0 0;
  padding-left: 5px;
}

@media screen and (max-width: 1439px) {
  .bikes__name {
    font-size: 14px;
    line-height: 18px;
    margin: -12px auto 0;
  }
}
