@use "mixins" as *;

@media screen and (max-width: 1439px) {
  .bikes__card {
    @include flexColumn;
    background: #f4f4f4;
    box-shadow: -20px 60px 220px rgba(0, 0, 0, 0.06);
    border-radius: 20px;
    margin-bottom: 36px;
    border: 1px solid #000;
  }
}
