@use "mixins";

.header__link {
  @include mixins.interMedium;
  font-size: 14px;
  line-height: 18px;
  text-align: right;
  color: #151515;
  margin-left: 34px;
  cursor: pointer;
}

.header__link:first-child {
  margin-left: 0;
}

.header__link:link {
  text-decoration: none;
}

.header__link:visited {
  text-decoration: none;
}

.header__link:hover {
  opacity: 0.75;
  text-decoration: none;
}

.header__link:active {
  text-decoration: none;
}

.header__link:last-child {
  margin-right: 0;
}

@media screen and (max-width: 636px) {
  .header__link {
    display: none;
  }
} ;
