@use "mixins" as *;

.highway__text {
  @include sectionText;
  max-width: 460px;
  margin: 0 0 40px;
}

@media screen and (max-width: 1439px) {
  .highway__text {
    @include mobileSectionText;
    margin-bottom: 0;
  }
}
