@use "mixins" as *;

.quote {
  @include gridSection;
  grid-template-columns: minmax(284px, 650px) minmax(284px, 470px);
  padding: 8% 8.3%;
  justify-content: space-between;
  column-gap: 5%;
}

@media screen and (max-width: 1310px) {
  .quote {
    padding-right: 1%;
  }
}

@media screen and (max-width: 710px) {
  .quote {
    grid-template-columns: minmax(284px, 810px);
    padding: 15% 4.3%;
  }
}
