@use "mixins" as *;

.primary__title {
  @include sectionTitle;
  @include mobileSectionTitle;
  text-align: left;
  max-width: 300px;
  margin-bottom: 25px;
}

@media screen and (max-width: 320px) {
  .primary__title {
    max-width: 170px;
    margin-bottom: 17px;
  }
}
