@use "mixins" as *;

.three-dots-menu {
  @include flexRow;
  width: 23px;
  max-height: 5px;
  justify-content: space-between;
  margin: 0 auto 15px;
}

@media screen and (min-width: 941px) {
  .three-dots-menu {
    display: none;
  }
}
