@use "mixins";

.primary__illustration-container {
  @include flexRow;
  max-width: 610px;
  aspect-ratio: auto;
  box-sizing: border-box;
  justify-content: end;
  position: relative;
  margin-top: 20px;
  justify-self: end;
}

@media screen and (max-width: 710px) {
  .primary__illustration-container {
    max-width: 100%;
  }
}

@media screen and (max-width: 320px) {
  .primary__illustration-container {
    max-width: 254px;
    margin-left: 30px;
    margin-bottom: 30px;
  }
}
