@use "mixins";

.primary__illustration-container {
  @include flexRow;
  @include testWithBorder;
  aspect-ratio: auto;
  box-sizing: border-box;
  justify-content: end;
  position: relative;
  margin-top: 20px;
}
