@use "mixins";

.header {
  @include mixins.flexRow;
  box-sizing: border-box;
  max-width: 1440px;
  justify-content: end;
  align-items: center;
  padding: 28px 8.2% 28px;
  margin: 0 auto;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 4;
}

@media screen and (max-width: 637px) {
  .header {
    padding: 5% 4.4% 30px;
    min-width: 320px;
  }
}

@media screen and (max-width: 320px) {
  .header {
    padding: 24px 18px 30px;
    min-width: 320px;
  }
}
