@import "mixins";

.training {
  @include gridSection;
  grid-template-columns: minmax(284px, 460px) minmax(284px, 580px);
  column-gap: 13.3%;
  padding: 6% 8% 8.3%;
}

@media screen and (max-width: 710px) {
  .training {
    padding: 21% 4.3%;
    grid-template-columns: minmax(284px, 100%);
    justify-content: center;
  }
}
